<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-home"></i>
      <span class="home-text">HOME</span></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.linkedin.com/in/fcarreiro">LINKEDIN</a></li>
        <li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="{{ site.baseurl }}papers.html">PAPERS</a></li>
        <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>
        <li><a href="{{ site.baseurl }}teaching.html">TEACHING</a></li>
      </ul>
    </div>
  </div>
</nav>
