<section id="teaching">
<div class="container">
  <h3>Teaching</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    
    <h5>
      <i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="teaching/python_jan2015/">Imperative Programming with Python</a></strong>
      as Instructor. Institute for Logic Language and Computation, University of Amsterdam. Winter of 2015.
    </h5>

    <h5>
      <i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://alexandru.tiddlyspot.com/#%5B%5BIntroduction%20to%20Modal%20Logic%202013-2014%5D%5D">Introduction to Modal Logic</a></strong>
      as Teaching Assistant. Institute for Logic Language and Computation, University of Amsterdam. Fall of 2013.
    </h5>

      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://homepages.cwi.nl/~apt/stra13/">Advanced Strategic Game Theory</a></strong> as Teaching Assistant. Institute for Logic Language and Computation, University of Amsterdam. Spring of 2013.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://staff.science.uva.nl/~yde/teaching/ml/">Capita Selecta in Modal Logic, Algebra and Coalgebra</a></strong> (mostly mu-calculus) as Teaching Assistant (grading and some tutorials). Institute for Logic Language and Computation, University of Amsterdam. Fall of 2012.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="teaching/python_jan2012/">Imperative Programming with Python</a></strong> as Instructor. Institute for Logic Language and Computation, University of Amsterdam. Winter of 2012.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/logcomp/">Logic and Computability</a></strong> as Teacher in charge of tutorial sessions. Department of Computer Science, University of Buenos Aires. Summer of 2011.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/aed3/">Algorithms and Data Structures III</a></strong> as Graduate teaching assistant. Department of Computer Science, University of Buenos Aires. Second semester of 2010.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/logcomp/">Logic and Computability</a></strong> as Undergraduate teaching assistant. Department of Computer Science, University of Buenos Aires. Second semester of 2009.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/aed1/">Algorithms and Data Structures I</a></strong> as Undergraduate teaching assistant. Department of Computer Science, University of Buenos Aires. Second semester of 2009.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/logcomp/2009/verano/">Logic and Computability</a></strong> as Undergraduate teaching assistant. Department of Computer Science, University of Buenos Aires. Summer of 2009.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/aed1/">Algorithms and Data Structures I</a></strong> as Undergraduate teaching assistant. Department of Computer Science, University of Buenos Aires. Second semester of 2008.</h5>
      <h5><i class="fa fa-pencil-square"></i>&nbsp;&nbsp;<strong><a href="http://www.dc.uba.ar/materias/logcomp/2008/verano/">Logic and Computability</a></strong> as Undergraduate teaching assistant. Department of Computer Science, University of Buenos Aires. First semester of 2008.</h5>

    </div>
  </div>
</div>
</section>
